{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/Marcos.jpg' %}" alt="" class="img-fluid my-image">
    </div>
    <div class="col-md-8 my-auto">
        <h1>Yo soy <strong>Marcos Ramos</strong> </h1>
        <h3>Soy desarrollador de Python </h3>
        <p> Con mi experiencia en la implementación de marcos ágiles, he aprendido a crear sinopsis claras
            y concisas para descripciones generales de alto nivel. Mi enfoque en la estrategia corporativa, inspirado en la metodología
            ágil, fomenta un pensamiento colaborativo que busca mejorar la propuesta de valor general de un proyecto o equipo. A través de la iteración
            y el trabajo en equipo, busco aplicar estos principios en entornos académicos y proyectos estudiantiles para optimizar procesos y promover resultados
            efectivos y centrados en el aprendizaje.
        </p>
        {% if perfil %}
            {{ perfil.first_name }}<br>
            {{ perfil.last_name }}<br>
            {{ perfil.email }}<br>
            {{ perfil.career }}<br>
            {{ perfil.phone }}<br>
        {% else %}
            <p>No hay perfil disponible.</p>
        {% endif %}
        <a href="{% static 'portfolio/Junior Programmer.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3">Download CV</a>
    </div>
</header>

<div class="row my-4 text-center">
    <h3>Mis Proyectos</h3>
    <p>Aqui encontraras los enlaces hacia mis proyectos que realicé</p>

    {% for project in projects %}
    <div class="col-md-4 p-4">
        <div class="card bg-black card-project">
            <img src="{{ project.image.url }}" alt="{{ project.title }}" class="my-project-img">
            <div class="card-body">
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
                {% if project.url %}
                    <a href="{{ project.url }}" class="btn btn-light rounded-0 btn-sm" target="_blank" rel="noopener noreferrer">Visit the Project</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

